[submodule "meta-dream"]
	path = meta-dream
	url = https://github.com/PLi-metas/meta-dream.git
[submodule "meta-ini"]
	path = meta-ini
	url = https://github.com/PLi-metas/meta-ini.git
[submodule "meta-fulan"]
	path = meta-fulan
	url = https://github.com/PLi-metas/meta-fulan.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/PLi-metas/meta-raspberrypi.git
[submodule "meta-odin"]
	path = meta-odin
	url = https://github.com/PLi-metas/meta-odin
[submodule "meta-octagon"]
	path = meta-octagon
	url = https://github.com/PLi-metas/meta-octagon.git
