[submodule "meta-dream"]
	path = meta-dream
	url = https://github.com/PLi-metas/meta-dream.git
[submodule "meta-ini"]
	path = meta-ini
	url = https://github.com/PLi-metas/meta-ini.git
[submodule "meta-fulan"]
	path = meta-fulan
	url = https://github.com/PLi-metas/meta-fulan.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/PLi-metas/meta-raspberrypi.git
[submodule "meta-odin"]
	path = meta-odin
	url = https://github.com/PLi-metas/meta-odin
[submodule "meta-octagon"]
	path = meta-octagon
	url = https://github.com/PLi-metas/meta-octagon.git
[submodule "meta-dags"]
	path = meta-dags
	url = https://github.com/PLi-metas/meta-dags.git
[submodule "meta-entwopia"]
	path = meta-entwopia
	url = https://github.com/PLi-metas/meta-entwopia.git
[submodule "meta-xcore"]
	path = meta-xcore
	url = https://github.com/PLi-metas/meta-xcore.git
[submodule "meta-amlogic"]
	path = meta-amlogic
	url = https://github.com/PLi-metas/meta-amlogic.git
[submodule "meta-ceryon"]
	path = meta-ceryon
	url = https://github.com/PLi-metas/meta-ceryon.git
[submodule "meta-dinobot"]
	path = meta-dinobot
	url = https://github.com/PLi-metas/meta-dinobot.git
[submodule "meta-azbox"]
	path = meta-azbox
	url = https://github.com/PLi-metas/meta-azbox.git
[submodule "meta-ixuss"]
	path = meta-ixuss
	url = https://github.com/PLi-metas/meta-ixuss.git
[submodule "meta-blackbox"]
	path = meta-blackbox
	url = https://github.com/PLi-metas/meta-blackbox.git
[submodule "meta-ax"]
	path = meta-ax
	url = https://github.com/PLi-metas/meta-ax.git
[submodule "meta-ebox"]
	path = meta-ebox
	url = https://github.com/PLi-metas/meta-ebox.git
[submodule "meta-protek"]
	path = meta-protek
	url = https://github.com/PLi-metas/meta-protek.git
[submodule "meta-tiviar"]
	path = meta-tiviar
	url = https://github.com/PLi-metas/meta-tiviar.git
[submodule "meta-tripledot"]
	path = meta-tripledot
	url = https://github.com/PLi-metas/meta-tripledot.git
[submodule "meta-cube"]
	path = meta-cube
	url = https://github.com/PLi-metas/meta-cube.git
[submodule "meta-clap"]
	path = meta-clap
	url = https://github.com/PLi-metas/meta-clap.git
[submodule "meta-gb"]
	path = meta-gb
	url = https://github.com/PLi-metas/meta-gb.git
[submodule "meta-broadmedia"]
	path = meta-broadmedia
	url = https://github.com/PLi-metas/meta-broadmedia.git
